$main-background-dark: #1d1d24;
$main-highlight: #aa3972;
$main-title: #b4b6c3;
$main-text: #9697a3;
$stack-text: #b9bbc9;

$divider-text: #d3d5e4;

$scrollbar: #373744;
$scrollbar-highlight: #474751;

$project-box: #262630;
$project-box-highlight: #2b2b36;

$shadow: #1a1a20;
$shadow-highlight: #212129;
