@import "../styles/colours.scss";

.header-container {
  overflow: initial;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 25px 0px;
  height: 15px;
  width: 100%;
  background-color: #1d1d24;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navigation-list-item {
  color: #b4b6c3;
  font-size: 18px;
  font-family: "RobotoMono";
  margin-right: 50px;
  border-bottom: 1px solid #1d1d24;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.navigation-list-item:hover {
  color: #aa3972;
  cursor: pointer;
  border-bottom: 1px solid #aa3972;
}
