@import "../../../styles/colours.scss";

.work-container {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.work-box {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: auto 575px;
}
.work-box--header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5px;
}
.work-box--role {
  font-family: "RobotoMono";
  color: $main-highlight;
  border-right: 1px dashed $main-highlight;
  border-radius: 100px;
  margin: 0px 10px 0px 0px;
  padding-right: 10px;
  letter-spacing: 2px;
}
.work-box--company {
  font-family: "RobotoMono";
  color: $main-title;
}
.work-box--body {
  display: flex;
  flex-direction: column;
}
.work-divider--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}
.work-divider {
  height: 2px;
  width: 100%;
  background-color: $main-highlight;
  background: linear-gradient(
    -90deg,
    $main-highlight 0%,
    $main-background-dark 100%
  );
}
.work-box--product {
  font-family: "RobotoMono";
  color: $divider-text;
  white-space: nowrap;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}
.work-box--body--content {
  display: flex;
}
.work-box--description--container {
  margin: 2.5px 15px 2.5px 15px;
}
.work-box--description {
  font-family: "LeagueSpartan-Light";
  color: $main-text;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.work-box--side--container {
  margin-left: 10px;
}
.work-box--date--container {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.work-box--date {
  font-family: "RobotoMono";
  color: $main-text;
  font-size: 12px;
  letter-spacing: 1px;
}
.work-box--stack {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "RobotoMono";
  color: $stack-text;
  //$main-text ?
  font-size: 12px;
  letter-spacing: 1px;
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4px;
  height: 4px;
  margin: auto 8px;
  background-color: $main-highlight;
}

@media (max-width: 1300px) {
  .work-box {
    width: 600px;
  }
  .work-box--header {
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .work-box {
    width: 500px;
  }
  .work-box--role {
    border: none;
    margin: 0px;
    padding-right: 0px;
  }
}
