@import "../../../styles/colours.scss";

.about-container {
  display: flex;
  margin: auto auto;
  height: 100vh;
}
.about-box {
  display: flex;
  flex-direction: column;
  margin: auto 600px 550px 600px;
}
.about-name {
  color: $main-title;
  font-size: 65px;
  font-family: "LeagueSpartan";
  letter-spacing: 5px;
}
.about-title {
  color: $main-highlight;
  font-size: 20px;
  font-family: "LeagueSpartan";
  letter-spacing: 6px;
  margin-left: 160px;
  padding: 5px 0px 10px 0px;
}
.about-text {
  color: $main-text;
  font-size: 16px;
  font-family: "LeagueSpartan";
  margin-left: 70px;
  margin-right: 50px;
  letter-spacing: 1px;
}
.about-divider--container {
  display: flex;
  align-items: center;
  margin: 10px 0px 5px 70px;
}
.about-divider--text {
  font-family: "LeagueSpartan";
  color: $divider-text;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 14px;
  margin-right: 10px;
}
.about-divider {
  height: 2px;
  width: 100%;
  background-color: $main-highlight;
  background: linear-gradient(
    90deg,
    $main-highlight 0%,
    $main-background-dark 100%
  );
}
.about-stack--container {
  display: flex;
  font-family: "RobotoMono";
  color: $stack-text;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 14px;
  margin-left: 70px;
}
.about-stack {
  font-size: 13px;
  margin-right: 10px;
}
