<div class="home-container">
  <section id="about" class="about-container">
    <div class="about-box">
      <div class="about-name">
        {{ aboutContent.name }}
      </div>
      <div class="about-title">{{ aboutContent.title }}</div>
      <div class="about-text">{{ aboutContent.about }}</div>
      <div class="about-divider--container">
        <div class="about-divider--text">Current Stack</div>
        <div class="about-divider"></div>
      </div>
      <div class="about-stack--container">
        <div class="about-stack" *ngFor="let stackItem of aboutContent.stack">
          {{ stackItem }}
        </div>
      </div>
    </div>
  </section>
  <section id="work" class="work-container">
    <div *ngFor="let job of jobs; let i = index" class="work-box">
      <div class="work-box--header">
        <div class="work-box--role">{{ job.role }}</div>
        <div class="work-box--company">{{ job.company }}</div>
      </div>
      <div class="work-box--body">
        <div class="work-divider--container">
          <div class="work-divider"></div>
          <div class="work-box--product">{{ job.product }}</div>
        </div>
        <div class="work-box--body--content">
          <div class="work-box--description--container">
            <div class="work-box--description">{{ job.description }}</div>
            <div class="work-box--description">{{ job.responsibilities }}</div>
          </div>
          <div class="work-box--side--container">
            <div class="work-box--date--container">
              <div class="work-box--date">
                {{ job.dateFrom }}
              </div>
              <div class="dot"></div>
              <div class="work-box--date">{{ jobDateTo(i) }}</div>
            </div>
            <div class="work-box--stack" *ngFor="let jobStackItem of job.stack">
              {{ jobStackItem }}
            </div>
          </div>
        </div>
      </div>
      <div class="'work-box--footer"></div>
    </div>
  </section>
  <section id="projects" class="projects-container">
    <div class="projects-box--container">
      <div *ngFor="let project of projects" class="project-box">
        <a href="{{ project.liveLink }}" target="_blank">
          <div class="project-box--container">
            <div class="project-box--header">
              {{ project.name }}
            </div>

            <div class="project-box--body">{{ project.description }}</div>
            <div class="project-box--footer">
              <div
                *ngFor="let projectStackItem of project.stack"
                class="project-box--stack"
              >
                {{ projectStackItem }}
              </div>
              <div class="project-box--link">
                <a href="{{ project.repoLink }}" target="_blank">
                  <fa-icon
                    class="project-box--icon"
                    [icon]="['fab', 'github']"
                  ></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section id="contact" class="contact-container">
    <div class="contact-box">
      <div class="contact-text">Any questions?</div>
      <a href="mailto:asaas_96@hotmail.co.uk">
        <button class="contact-button">Contact</button>
      </a>
    </div>
  </section>
</div>
